---
layout: page
---

<main class="d-md-flex">
    <div class="col-md-9 d-flex flex-column flex-fill">
        {% include archive-biblio.html %}
    </div>
    <div class="col-md-3 d-none d-md-block d-flex flex-column flex-fill ms-3">
        {% include lateral-recent.html type="reviews" title="Anotaciones recientes" %}
        {% include lateral-recent.html data_source=true type="biblio" title="Bibliografía reciente" %}
        {% include lateral-recent.html type="posts" title="Artículos recientes" %}
        {% include lateral-recent.html type="docs" title="Documentos recientes" %}
    </div>
</main>