<div class="bd-toc mt-3 mb-5 my-lg-0 mb-lg-5 px-sm-1 text-body-secondary d-flex flex-column flex-shrink-0 text-body-secondary offcanvas-md offcanvas-end" tabindex="-1" id="tocContents" aria-labelledby="tocContentsOffcanvasLabel">
    <strong class="d-none d-md-block h6 my-2 ms-3" id="docs-tocs">Contenido</strong>
    <hr class="d-none d-md-block my-2 ms-3">
    <div class="collapse bd-toc-collapse" id="tocContents">
        <nav id="TableOfContents" aria-labelledby="docs-tocs">
            <ul>
                {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </ul>
        </nav>
    </div>
</div>