<div class="bd-toc sticky col-md-2 mt-3 mb-5 my-lg-0 mb-lg-5 px-sm-1 text-body-secondary offcanvas-md offcanvas-end" tabindex="-1" id="tocContents" aria-labelledby="tocContentsOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title py-2" id="tocContentsOffcanvasLabel">CONTENIDO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#tocContents">Contenido</button>
    </div>
    <hr class="d-none d-md-block my-2 ms-3">
    <div class="offcanvas-body">
        <nav id="TableOfContents">
            <ul class="section-nav">
                {% include toc.html sanitize=true html=content item_class="toc-entry toc-h2" h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </ul>
        </nav>
    </div>
</div>