#btn-back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 100;
}

.source_sup{
  outline: none;
  text-decoration: none;
}

#cookie-notice {
  padding: 0.5rem 1rem; 
  display: none; 
  text-align: center; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background: #222; 
  color: rgba(255,255,255,0.8);
}

#cookie-notice a {
  display: inline-block; 
  cursor: pointer; 
  margin-left: 0.5rem;
}

.bd-layout {
	display: flex;
	grid-template-areas: "sidebar main";
	grid-template-columns: 1fr 5fr;
	gap: 1.5rem;
}

.bd-main {
	grid-template-areas: "toc   intro" "toc content";
	grid-template-rows: 1fr auto;
	grid-template-columns: 2fr 5fr;
}

.bd-sidebar {
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 3rem);
    overflow-y: auto;
    padding-left: .25rem;
    margin-left: -.25rem;
  }

.bd-toc {
  position: sticky;
  top: 5rem;
  display: block !important;
  height: calc(100vh - 3rem);
  overflow-y: auto;
  padding-right: .25rem;
  margin-right: -.25rem;
}

.bd-toc .section-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.bd-toc .section-nav .toc-entry {
  display: block;
}

.bd-toc .section-nav .toc-entry a {
  display: block;
  padding: .25rem .75rem;
  color: inherit;
  text-decoration: none;
}

.bd-toc .section-nav .toc-entry a:hover {
  background-color: rgba(0, 0, 0, .05);
  border-radius: .25rem;
}

.summary {
  position: relative;
  text-align: justify;
  text-justify: inter-word;
}

.summary .collapse, 
.summary .collapsing {
  height: 3rem;
}

.summary .collapse {
  display: block; // By default the bootstrap collapse has a display: none
  overflow: hidden;
}

.summary .collapse.show {
  height: auto;
}

.summary a.collapsed:after {
  position: absolute;
  bottom:-20px;
  right:0;
  content: '+ leer más';
}

.summary a:not(.collapsed):after {
  position: absolute;
  bottom:0;
  right:0;
}

.read-more {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  // 60% is where it should start the transition from transparent to white, increase it if you want to show more of your text
  background-image: linear-gradient(to bottom, transparent 20%, #f8f9fa);

  // The opacity and transition is just to smooth out the effect 
  opacity: 1;
  transition: all .3s linear;
}

.read-more:not(.collapsed) {
  //opacity: 0;
  // If you want to make the clickable area disapear once it is open, change the visibility to hidden:
  visibility: hidden;
}

.topic {
  font-size: 12px;
}


/*
   Page taxonomy
   ========================================================================== */
  
  .taxonomy__index {
    margin: 1.414em 0;
    padding: 0;
    font-size: 0.75em;
    list-style: none;

    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0.25em 0;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid $border-color;
    }
  }


  .stars-container {
    position: relative;
    display: inline-block;
    color: transparent;
    overflow:hidden;
  }
  
  .stars-container:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: lightgray;
  }
  
  .stars-container:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    color: #F76B48;
    overflow: hidden;
  }

  .stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100; }

/*
.form-search
========================================================================== */
.initial-content {
  display: block;

  &.is--hidden {
    display: none;
    visibility: hidden;
  }

}

.search__toggle {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 0;
  outline: none;
  color: $primary-color;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    color: mix(#000, $primary-color, 25%);
  }
}

.search-icon {
  width: 100%;
  height: 100%;
}

.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0;
}

.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  border-radius: 14px;
}

.form-search label {
  display: inline-block;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

.search-content {
  flex: 1 0 auto;
}

.search-icon {
  width: 100%;
  height: 100%;
}

.search-content {
  display: none;
  visibility: hidden;
  padding-top: 1em;
  padding-bottom: 1em;

  &__inner-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;

  }

  &__form {
    background-color: transparent;
  }

  .search-input {
    display: block;
    margin-bottom: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    font-size: $type-size-3;

  }

  &.is--visible {
    display: block;
    visibility: visible;

    &::after {
      content: "";
      display: block;
    }
  }

  .results__found {
    margin-top: 0.5em;
    font-size: $type-size-6;
  }

  .archive__item {
    margin-bottom: 2em;

  }

  .archive__item-title {
    margin-top: 0;
  }

  .archive__item-excerpt {
    margin-bottom: 0;
  }
}

/* Algolia search */

.ais-search-box {
  max-width: 100% !important;
  margin-bottom: 2em;
}

.archive__item-title .ais-Highlight {
  color: $primary-color;
  font-style: normal;
  text-decoration: underline;
}

.archive__item-excerpt .ais-Highlight {
  color: $primary-color;
  font-style: normal;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 60px; /* o la altura máxima del navbar */
}

.h1, h1 {
    font-size: calc(1.5rem);
}

.h2, h2 {
    font-size: calc(1.4rem);
}

.h3, h3 {
    font-size: calc(1.3rem);
}

.h4, h4 {
    font-size: calc(1.2rem);
}

.h5, h5 {
    font-size: calc(1.1rem);
}

.h6, h6 {
    font-size: calc(1rem);
}
