/*
   Allignments
   ========================================================================== */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.image-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-right: 1em;

}

.image-right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  margin-right: 1em;

}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}