
$layout-breakpoint-min: 768px;
$layout-breakpoint-max: 991.98px;
/*
   Colors
   ========================================================================== */

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue-100: #a8cbfe; 
$blue-200: #81b4fe; 
$blue-300: #5a9cfe; 
$blue-400: #3485fd; 
$blue-500: #0d6efd; 
$blue-600: #0b5cd5; 
$blue-700: #094bac; 
$blue-800: #073984; 
$blue-900: #05285b; 

$indigo-100: #c8a9fa; 
$indigo-200: #af83f8; 
$indigo-300: #975cf6; 
$indigo-400: #7e36f4; 
$indigo-500: #6610f2; 
$indigo-600: #560dcb; 
$indigo-700: #450ba5; 
$indigo-800: #35087e; 
$indigo-900: #250657; 

$purple-100: #cbbbe9; 
$purple-200: #b49ddf; 
$purple-300: #9d7ed5; 
$purple-400: #8660cb; 
$purple-500: #6f42c1; 
$purple-600: #5d37a2; 
$purple-700: #4b2d83; 
$purple-800: #3a2264; 
$purple-900: #281845; 

$pink-100: #f0b6d3; 
$pink-200: #ea95bf; 
$pink-300: #e374ab; 
$pink-400: #dd5498; 
$pink-500: #d63384; 
$pink-600: #b42b6f; 
$pink-700: #92235a; 
$pink-800: #6f1b45; 
$pink-900: #4d1230; 

$red-100: #f2b6bc; 
$red-200: #ed969e; 
$red-300: #e77681; 
$red-400: #e25563; 
$red-500: #dc3545; 
$red-600: #b92d3a; 
$red-700: #96242f; 
$red-800: #721c24; 
$red-900: #4f1319; 

$orange-100: #fed1aa; 
$orange-200: #febc85; 
$orange-300: #fea75f; 
$orange-400: #fd933a; 
$orange-500: #fd7e14; 
$orange-600: #d56a11; 
$orange-700: #ac560e; 
$orange-800: #84420a; 
$orange-900: #5b2d07; 

$yellow-100: #ffe9a6; 
$yellow-200: #ffdf7e; 
$yellow-300: #ffd556; 
$yellow-400: #ffcb2f; 
$yellow-500: #ffc107; 
$yellow-600: #d6a206; 
$yellow-700: #ad8305; 
$yellow-800: #856404; 
$yellow-900: #5c4503; 

$green-100: #b2dfbc; 
$green-200: #8fd19e; 
$green-300: #6dc381; 
$green-400: #4ab563;
$green-500: #28a745;
$green-600: #228c3a;
$green-700: #1b722f;
$green-800: #155724;
$green-900: #0e3c19;

$teal-100: #afecda;
$teal-200: #8be3c9;
$teal-300: #67dab8;
$teal-400: #44d2a8;
$teal-500: #20c997;
$teal-600: #1ba97f;
$teal-700: #168967;
$teal-800: #11694f;
$teal-900: #0c4836;

$cyan-100: #abdee5;
$cyan-200: #86cfda;
$cyan-300: #61c0cf;
$cyan-400: #3cb1c3;
$cyan-500: #17a2b8;
$cyan-600: #13889b;
$cyan-700: #106e7d;
$cyan-800: #0c5460;
$cyan-900: #083a42;

$blue:    $blue-500;
$indigo:  $indigo-500;
$purple:  $purple-500;
$pink:    $pink-500;
$red:     $red-500;
$orange:  $orange-500;
$yellow:  $yellow-500;
$green:   $green-500;
$teal:    $teal-500;
$cyan:    $cyan-500;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: $lighter-gray !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: $lighter-gray !default;

$primary-color: #6f777d !default;
$success-color: #3fa63f !default;
$warning-color: #d67f05 !default;
$danger-color: #ee5f5b !default;
$info-color: #3b9cba !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;

/*
Typography
========================================================================== */

$doc-font-size: 16 !default;

/* paragraph indention */
$paragraph-indent: false !default; // true, false (default)
$indent-var: 1.3em !default;

/* system typefaces */
$serif: Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
   "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;
$caption-font-family: $serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px

/* headline scale */
$h-size-1: 1.563em !default; // ~25.008px
$h-size-2: 1.25em !default; // ~20px
$h-size-3: 1.125em !default; // ~18px
$h-size-4: 1.0625em !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em !default; // ~16px

$font-size-base:              1rem; // Assumes the browser default, typically
$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$border-color:                $gray-300 !default;
$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;

$link-color:                              $primary !default;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;

/* links */
$link-color: mix(#000, $info, 20%) !default;
$link-color-hover: mix(#000, $link-color, 25%) !default;
$link-color-visited: mix(#fff, $link-color, 15%) !default;
$masthead-link-color: $primary !default;
$masthead-link-color-hover: mix(#000, $primary, 25%) !default;
$navicon-link-color-hover: mix(#fff, $primary, 75%) !default;

$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$darker-gray: mix(#000, $gray, 60%) !default;
$light-gray: mix(#fff, $gray, 50%) !default;
$lighter-gray: mix(#fff, $gray, 90%) !default;

$background-color: #fff !default;
$code-background-color: #fafafa !default;
$code-background-color-dark: $light-gray !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: $lighter-gray !default;
$form-background-color: $lighter-gray !default;
$footer-background-color: $lighter-gray !default;

/*
   Breakpoints
   ========================================================================== */

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;


/* NPI */
$intro-transition: intro 0.3s both !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
